/* universel selector */
 * {
    margin: 0;
    padding: 0;
    border:  0;
}
 /* id selector */
  #container {
 text-align: center;
width: 50%;
background-color: rgba(11, 210, 245, 0.781);
margin: 10% auto;
padding: 20px;
}
/* decendent selector */
#container h1 {
font-size: 50px;
margin: 20px 0px;
}

form {
}
/* grouping selector */
input,
label *{
display: block;
width: 60%;
margin: auto;
}
label{
    font-size: 20px;
    text-transform:uppercase;
}

input{
    padding: 10px;
    margin: 10px auto;
}

p{
    font-size: 18px;
}
/* decendent selector */
p a{text-decoration: none;
color: black;
font-weight: bold;
}
/* actribute selecor */
input[type="submit"] {
    width: 30%;
    font-size: 15px;
    font-weight: 600;
    background-color:black;
    color: rgb(30, 190, 211);
    border-radius: 5px;
}
/* :psudo class selector */
input[type="submit"]:hover{
background-color:white; 
color: red;
border: red;
}